<h4 data-type="title-s">
  {{club.name}}
  {{#if club.distinction}}{{club.distinction}}{{/if}}
  {{#if club.closed}}🪦{{/if}}
</h4>
<br />

<div class="club-detail">
  <label data-type="label-s">Nearest Metro Area</label>
  <p data-type="body-s">
    {{#if club.region}}
      {{concat club.metro " • " club.region " • " club.country}}
    {{else}}
      {{concat club.metro " • " club.country}}
    {{/if}}
  </p>
</div>

<div class="club-detail">
  <label data-type="label-s">Address</label>

  {{#if club.googleMapsUrl}}
    <a
      data-type="body-s"
      href="{{club.googleMapsUrl}}"
      target="_blank"
    >{{club.address}}<span class="arrow"> →</span></a>
  {{else}}
    <p data-type="body-s">{{club.address}}</p>
  {{/if}}
</div>

{{#if club.website}}
  <div class="club-detail">
    <label data-type="label-s">Website</label>
    <a
      data-type="body-s"
      href="{{club.website}}"
      target="_blank"
    >{{club.website}}<span class="arrow"> →</span></a>
  </div>
{{/if}}

{{#if club.type}}
  <div class="club-detail">
    <label data-type="label-s">Club Type</label>
    <p data-type="body-s">{{join club.type " • "}}</p>
  </div>
{{/if}}