{{> ../partials/html-start.hbs page="club" }}

<section class="intro">
  <div class="content center">
    <div class="content-inner">
      <h1>
        {{club.name}}
      </h1>
      <h2>{{club.distinction}}</h2>
      <p>
        {{club.address}}
        <br />
        {{club.metro}}, {{club.region}}, {{club.country}}
        <br />
        {{club.tags}}
        <br />
        {{club.type}}
        <br />
        {{club.url}}
      </p>
    </div>
  </div>
</section>

{{> ../partials/html-end.hbs }}
